.flickr-images{
	/*width: 300px !important;*/
    background: #000;
	margin: auto !important;
	text-align: center;
}

.flickr-more{
	display: none !important;	
}

.flickr-images a img:hover {
    filter: grayscale(100%) contrast(1) brightness(90%);
    -webkit-filter: grayscale(100%) contrast(1) brightness(90%);
    -moz-filter: grayscale(100%) contrast(1) brightness(90%);
    -ms-filter: grayscale(100%) contrast(1) brightness(90%);
    -o-filter: grayscale(100%) contrast(1) brightness(90%);
    opacity: 0.8;
}

.flickr-images img {
    max-width: 100%;
    width: 75px;
    height: 75px;
    margin: 0 !important;
    padding: 0 !important;
}

.flickr-size-thumbnail .flickr-images {
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: center;
    justify-content: center;
}